.container {
    display: inline-block;
}

wrap {
    display: inline-block;
    
}

h2 {
    font-family: 'Trebuchet MS';
    font-size: 30px;
    font-weight: 200px;
    color: rgb(255, 0, 0);
    text-align: center;
    
}

p {
    font-family: 'Trebuchet MS';
    font-size: 30px;
    color: red;
    text-align: center;
}

.red-dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: none;
    cursor: default;
}

#dice1 {
    position: relative;
    height: 120px;
    width: 120px;
    left: 330px;
    background-color: rgb(255, 47, 161);
    border-radius: 40px;
}

#dice2 {
    position: relative;
    height: 120px;
    width: 120px;
    left: 330px;
    background-color: rgb(81, 157, 244);
    border-radius: 40px;
}

.buttons {
    margin: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;

}       


#board {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
    font-family: 'Trebuchet MS'
    
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}


#winnerDisplay {
    display: inline-block;
    
}

#winnerDisplay img {
    position: relative;
    left: 200px;

}


#rollBtn {   
    background-color: orange;
    font-size: 40px;
    color: white;
    font-family: Verdana;
    border-radius: 5px;
    box-shadow: 4px 9px #002d81;
    position: relative;
    height: 60px;
    width: 200px;
    left: 250px;
    align-content: center;
    
   
}

#rollBtn:focus {
    outline-style: none;
}

#rollBtn:hover {
    background-color: #009aff
}

#rollBtn:active {
    background-color: #002d81;
    box-shadow: 0 5px #666;
    transform: translateX(6px) translateY(2px);
}

#restartBtn {
    background-color: orange;
    font-size: 40px;
    color: white;
    font-family: Verdana;
    border-radius: 5px;
    box-shadow: 4px 9px #002d81;
    position: relative;
    height: 60px;
    left: 250px;
    align-content: center;
}

#restartBtn:focus {
    outline-style: none;
}

#restartBtn:hover {
    background-color: #009aff
}

#restartBtn:active {
    background-color: #002d81;
    box-shadow: 0 5px #666;
    transform: translateX(6px) translateY(2px);
}


button {
    -webkit-tap-highlight-color: transparent;
}




#previousPositions {
    font-size: 25px;
    font-family: 'Trebuchet Ms';
    color: green;
    position: relative;
    left: 100px;
}   

#currentRoll {
    font-size: 25px;
    font-family: 'Trebuchet Ms';
    color: red;
    position: relative;
    left: 100px;

}

#playerPositions {
    font-size: 25px;
    font-family: 'Trebuchet Ms';
    color: green;
    position: relative;
    left: 100px;
    margin-bottom: 20px;
}
.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px 5px 5px 5px;
    position: relative;
    left: 30px;
    text-align: left;
}

#table1 {
    background-color:rgb(100, 245, 166);
    width: 300px;
}

#table2 {
   background-color: rgb(245, 248, 79);
   width: 300px;
}

th {
    font-size: 30px;
    font-family: 'Trebuchet MS';
    color: black;
}

td {
    padding: 5px;
}

#table1 td {
    border: 1px solid;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-weight: 200px;
    color: blue;
}

#table2 td {
    border: 1px solid;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-weight: 200px;
    color: rgb(236, 1, 64);
}

.special-tile1a {
    background-color: yellow;
}

.special-tile1b {
    background-color: pink;
}

.special-tile1c {
    background-color: brown;
}

.special-tile1d {
    background-color: orange;
}

.special-tile1e {
    background-color: magenta;
}

.special-tile1f {
    background-color: lightgreen;
}

.special-tile1g {
    background-color: #C89D7C;
}

.special-tile1h {
    background-color: #ffffcc;
}


.special-tile2a {
    background-color: green;
}

.special-tile2b {
    background-color: lightblue;
}

.special-tile2c {
    background-color: purple;
}

.special-tile2d {
    background-color: rgb(171, 104, 202);
}

.special-tile2e {
    background-color: grey;
}

.special-tile2f {
    background-color: #009999;
}

.special-tile2g {
    background-color: lightgrey;
}



/*  
.snake, .ladder {
    background-color: green;
}
*/

.player {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}



